	@charset "UTF-8";

	/* 고정부분 */
	@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
	body{ }
	*{margin:0px;padding:0px;font-family: 'Noto Sans KR', sans-serif;}
	ul{list-style:none;}
	div {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;  box-sizing: border-box; }
	 a:link { color: #222831; }
	 a{text-decoration: none;}
	 a:visited { color:#222831; }
	 a:hover { color:#C9182B; }

		/*인클루드 되는 기본 틀*/
		#header {min-width:1280px;  min-height:50px;background: #C9182B; position: fixed; top: 0;left: 0;right: 0;z-index: 999;}    
		#sidebar {width: 220px;height: 100%;padding-top:50px; position: fixed; z-index:99;border-right:1px solid #c1c1c1;background-color:white;overflow:auto; } 
		.content_view{margin-left:220px; margin-top:110.5px; position:relative; padding-left:200px;padding-right:200px;} 
		.content_view_depth{height:60px;  border-bottom:1px solid #c1c1c1; text-align:left; margin-bottom:10px;} 

		/*상단 바 부분*/
		#header{}
		.header_intro{ width : 250px;height:50px; text-align: center; float:left; line-height:50px; }
		.header_intro.background{background-color:#c1c1c1; max-width:70px;}
		.header_setting{width : 60px;height:50px; float:right; margin-right:20px; }
		.header_setting>div{border:1px solid;width:100%;  }
		.header_setting>ul>li>span>i{width:55px; text-align:center;color:#222831; line-height:50px;font-size:28px; cursor:pointer; }
		.header_setting>ul>li>span>i:hover{color:#151414;}
		.header_setting>ul>li>ul>li{box-shadow : 0 1px 10px 1px gray;width:140px;background-color:rgb(253, 253, 253);padding:10 0 10 10; border:none; position:relative;right:80px;}
		/* 메뉴바 부분 */
		#mid{ width:100%; height:100%; overflow:auto; }
		.sidebar_user{ height:120px; }
		.sidebar_user.alert{height:120px; border-bottom:1px solid #c1c1c1; padding-top:30px;}
		.sidebar_user.alert>ul>li{font-size:12px; line-height:25px; padding-left:33px; } 
		.sidebar_menu{background-color:#222831;}
		.sidebar_menu>ul>li{line-height:50px;border-bottom:1px solid #544f4f;font-size: 16.5px;font-weight:400;}
		.sidebar_menu>ul>li>ul>li{font-size: 16px;}
		.sidebar_menu>ul>li>a>i{ float:right;line-height:50px;}





	/*고정부분 끝*/



	/*로그인*/
		#login_background{width:100%;height:100%;display:flex; justify-content:center;align-items: center;
		background-color:#263646; text-align:center;color:#ececec;font-size:17pt;}
		.wrapper{ width:400px; height:300px;padding-top:30px; margin:auto;margin-top:15px; text-align:center;
					border-top:1px solid #ececec; }
		
		.wrap-input {margin-bottom:20px;}
		.login_text{width:300px; height:40px;padding-left:10px; color:white; background:rgba(000, 000, 000,0.2);  border:0px;
		border-bottom:1px solid #352a2a; border-radius:2px;}
		.btn {width:300px; height:40px;background:linear-gradient(#C9182B,#ad0f20,#C9182B);border-radius:2px; color:#ececec;
		border: none;cursor: pointer;transition-duration: 0.4s; font-size:13pt;}
		.btn:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
		input::-webkit-input-placeholder { color: #666; }
	/*검색부분*/
		.search_select{width:5%;height:30px; border:1px solid #c1c1c1; color:#666666;}
		.search_text{height:30px; border:1px solid #c1c1c1; color:#666666;}
		.search_button{width:50px; height:30px; background-color:white;border:0.5px solid #c1c1c1;}

	/*회원관리*/
		#user_list{border-collapse:collapse;}
		#user_list>thead>tr>th{ background-color:#F8F8F8; height:33px; font-size:16px; text-align:center; border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;
		font-weight:500;}
		#user_list>tbody>tr{ height:45px; font-size:15px;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;}
	/*버튼관리*/
		.write_button{width:80px; height:40px;color:white; background-color:#263646;border:0.5px solid #c1c1c1;}
		/write_process{width:80px; height:40px;color:white; background-color:#263646;border:0.5px solid #c1c1c1;}
	/*페이징 관리*/
		.table_paging{padding-top:10px;}  
		.paging_num>a{padding:3px;}
		.paging_span{display:flex; justify-content:center;}


	#chart_div {
		min-width: 310px;
		max-width: 800px;
		height: 400px;
		margin: 0 auto;
	}










	/* 아코디언 메뉴바 */	
		/*li에 포함된 a태그에 block속성을 지정해 한줄 전체를 차지하도록 만든다*/
		.sidebar_menu ul li a{display:block;}
	/*1레벨 메뉴-텍스트색상/여백/테두리/배경색 지정*/
		.sidebar_menu>ul>li>a {color: #fff;padding: 4px 44px;background-color: #222831;}

	/*1레벨 메뉴-하위메뉴가 펼쳐줬을 때의 배경색 지정*/
		.sidebar_menu>ul>li.open>a{background-color:#C9182B;}

	/*2레벨 메뉴-텍스트 색상/여백/테두리/배경색 지정*/
		.sidebar_menu ul li a{padding:4px 24px;background-color:#fffff;text-decoration:none;}
		.sidebar_menu ul li ul li a{background-color:#fff;}
		.sidebar_menu ul li ul li a:hover{background-color:#f5f5f5;color:#C9182B}
		.sidebar_menu ul li ul li a:link{text-decoration:none;}

