<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
  <mapper namespace="studentMapper">

	<!-- 회원리스트 -->
	<select id="list" parameterType="StudentVO" resultType="StudentVO">
		
		Select
				`USER_NUM`, `MINOR_CD`, `USER_NM`, `USER_PW`, `USER_PHONE`, `USER_BIRTH`, `USER_GENDER`,
				 `USER_ATTEN`, `USER_EMAIL`, substring(`user_joindate`,1,19) as user_joindate, `USER_LASTLOGIN`
		From
				 student 
		<where> 
        	<choose> 
        	<when test="searchFiled == ''"> AND user_secession = 0 </when> 
        	<when test="searchFiled == 'user_num'"> user_secession = 0 AND user_num like CONCAT('%', #{searchValue} , '%') </when> 
	    	<when test="searchFiled == 'user_nm'"> user_secession = 0 AND user_nm like CONCAT('%', #{searchValue} , '%')</when>
		    <when test="searchFiled == 'user_atten'"> user_secession = 0 AND user_atten like CONCAT('%', #{searchValue} , '%') </when> 
        	 </choose>
        	  </where>
		order by user_num
		limit #{limitNo},#{pageSize}				
				
	</select>
	
	<!-- 회원카운트 -->
	<select id="list_count" parameterType="StudentVO" resultType="int">
		<!-- searchFiled = 조회조건, searchValue = 검색어 -->
		
		Select
				 count(*) as totalCount
		From
				 student
        	<where> 
        	<choose> 
        	<when test="searchFiled == ''"> AND 1=1 </when> 
        	<when test="searchFiled == 'user_num'"> AND user_num like CONCAT('%', #{searchValue} , '%') </when> 
	    	<when test="searchFiled == 'user_nm'"> AND user_nm like CONCAT('%', #{searchValue} , '%')</when>
		    <when test="searchFiled == 'user_atten'"> AND user_atten like CONCAT('%', #{searchValue} , '%') </when> 
        	 </choose>
        	  </where>
	</select>
	
	<!-- 회원삭제 -->
	<update id="delete" parameterType="StudentVO">
		UPDATE student SET user_secession=#{user_secession} where user_num=#{user_num}
	</update>
	
	
	<!-- 회원가입 -->
	<insert id="list_add"  parameterType="StudentVO">
		
		INSERT INTO student (user_num,user_pw,user_gender,user_nm,user_phone,user_email,user_birth,user_atten,user_token)
		VALUES (#{user_num},#{user_pw},#{user_gender},#{user_nm},#{user_phone},#{user_email},#{user_birth},#{user_atten},#{user_token});
				 
	</insert>
	<!-- 회원수정 -->
	<update id="pw_update"  parameterType="StudentVO" >
		UPDATE student SET user_pw = #{user_pw} WHERE user_num = #{user_num}
	</update>
	
	<select id="search"  parameterType="StudentVO" resultType="int">
		<![CDATA[
		Select
				 count(*)
		From
				 student
		Where
				user_num=${user_num}
				 ]]> 
	</select>
	
		<select id="login" parameterType="StudentVO" resultType="StudentVO">
		<![CDATA[
		Select
				*
		From
				student
		Where user_num = #{user_num} and user_pw = #{user_pw}
				 ]]> 
		</select>
		
		<!-- 회원 토큰 수정 -->
	<update id="token_update"  parameterType="StudentVO" >
		UPDATE student SET user_token = #{user_token} WHERE user_num = #{user_num}
	</update>
		
		<select id="alert"  resultType="StudentVO">
		<![CDATA[
		Select
				user_token
		From
				student
				 ]]> 
		</select>
		
		
	
	
	
</mapper>