<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
  <mapper namespace="usedMapper">

	<!-- 중고 장터 게시물 리스트 -->
	<select id="list" parameterType="UsedVO" resultType="UsedVO">
		Select
			   `used_seq`, `MINOR_CD`, `USED_USER_ID`, `USED_TITLE`, `USED_CONTENT`, `USED_PRICE`,
				   `USED_CHEAK`, `USED_GROUP`, `USED_IMG1`, `USED_IMG2`, `USED_IMG3`, substring(`USED_WRITE_DATETIME`,1,19) as USED_WRITE_DATETIME,
				   substring(`USED_REVISE_DATETIME`,1,19) as USED_REVISE_DATETIME, `USED_LOOKUPCNT`, `USED_DELETE_CH`
		From
				used
		<where> 
	        	<choose> 
	        	<when test="searchFiled == ''">minor_cd='BORD04 '  AND 1=1 </when> 
	        	<when test="searchFiled == 'used_title'">minor_cd='BORD04'  AND used_title like CONCAT('%', #{searchValue} , '%') </when> 
		    	<when test="searchFiled == 'used_user_id'"> minor_cd='BORD04 '  AND used_user_id like CONCAT('%', #{searchValue} , '%')</when>
	        	 </choose>
	  </where>
			order by substring(`USED_WRITE_DATETIME`,1,19) desc
		limit #{limitNo},#{pageSize}				
	</select>
	
	<!-- 중고 장터 게시물 카운트 -->
	<select id="list_count" parameterType="UsedVO" resultType="int">
		Select
				 count(*) as totalCount
		From
				used
		<where> 
	        	<choose> 
	        	<when test="searchFiled == ''">minor_cd='BORD04 '  AND 1=1 </when> 
	        	<when test="searchFiled == 'used_title'">minor_cd='BORD04'  AND used_title like CONCAT('%', #{searchValue} , '%') </when> 
		    	<when test="searchFiled == 'used_user_id'"> minor_cd='BORD04 '  AND used_user_id like CONCAT('%', #{searchValue} , '%')</when>
	        	 </choose>
	  </where>
	  </select>
	<!-- 중고 장터 보여주기 -->
	<select id="view" parameterType="UsedVO" resultType="UsedVO">
	Select
			   `used_seq`, `MINOR_CD`, `USED_USER_ID`, `USED_TITLE`, `USED_CONTENT`, `USED_PRICE`,
				   `USED_CHEAK`, `USED_GROUP`, `USED_IMG1`, `USED_IMG2`, `USED_IMG3`, substring(`USED_WRITE_DATETIME`,1,19) as USED_WRITE_DATETIME,
				   substring(`USED_REVISE_DATETIME`,1,19) as USED_REVISE_DATETIME, `USED_LOOKUPCNT`, `USED_DELETE_CH`
		From
				used
		Where used_seq=#{used_seq}
			
	</select>
	


	
	<delete id="delete" parameterType="UsedVO">
	<![CDATA[
		Delete From used where used_seq=#{used_seq}
		]]> 
	</delete>
	 
	
</mapper>