@charset "UTF-8";


/* 맛집 리뷰 부분 테이블 css */

.restaurant_comment_list{border-collapse:collapse;}
.restaurant_comment_list>thead>tr>th{background-color:#F8F8F8; height:33px; font-size:16px; text-align:center; border:1px solid #c1c1c1; font-weight:500;}
.restaurant_comment_list>thead>tr>td{height:33px; font-size:18px; text-align:left; border:0px; font-weight:500; padding-bottom: 20px;}
/* #restaurant_list>tbody>tr{ height:45px; font-size:15px;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;} */
.restaurant_comment_list>tbody>tr>td{height:45px; font-size:15px; border-bottom:1px solid #c1c1c1;}



/* 맛집 없어진부분 추가 */

.res_text{height:30px; width:50%; border:none; border-bottom:1px solid #c1c1c1; color:#666666; vertical-align: center;}
.res_text_addr{height:90%; width:100%; border:none; color:#666666; overflow: hidden;}

/* 알람부분 테이블 */

.alert_tbl{border-collapse:collapse; margin: 0px auto;}
.alert_tbl>thead>tr>th{background-color:#F8F8F8; height:33px; font-size:16px; text-align:center; border:1px solid #c1c1c1; font-weight:500;}
.alert_tbl>thead>tr>td{height:33px; font-size:18px; text-align:left; border:0px; font-weight:500; padding-bottom: 20px;}
/* #restaurant_list>tbody>tr{ height:45px; font-size:15px;border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;} */
.alert_tbl>tbody>tr>td{height:45px; font-size:15px; border-bottom:1px solid #c1c1c1;}


/* 탭부분 css */

.restaurant_list_tabs>tr>td{border:1px solid #eee;}

ul.tabs {
    margin: 0;
    margin-bottom:10px;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:82px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
   font-weight: bolder;
   color: darkred;
}
/* .tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 248px;
    background: #FFFFFF;
}
.tab_content {
    padding: 5px;
    font-size: 12px;
    display: none;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
} */

 #container {
 	float:left;
    width: 100%;
    margin: 0 auto;
}

		.qna{border-bottom:1px solid #ddd;margin:5em 0; }
		.qna .qnaBody{margin:0;padding:0;}
		.qna .qnaBody .article{list-style:none;}
		.qna .q{margin:0;border-top:1px solid #ddd;}
		.qna .q a{display:inline-flex;padding:.7em 1em; width:85%; font-weight:bold;background:#f5f5f5;color:#000;text-decoration:none !important;}
		.qna .q input[type="button"]{ width:5%; border-radius:2px ; height:28px; }
		.qna .q a:hover, .faq .q a:active, .faq .q a:focus{background:#f8f8f8;}
		.qna .a{margin:0;padding:1em; line-height:1.5;}
		
		
	.number_ch tr:nth-child(1){
		background-color: #e2e2e2;
	}
	
		.number_ch tr:nth-child(2){
		background-color: #f0f0f0;
	}
/* 		.number_ch tr:nth-child(3){
		background-color: #ddd;
	} */
		
	.number_ch th:nth-child(odd) {
	text-align: center;
}

	.number_ch tr td:nth-child(1) {
	background-color: #f0f0f0;
	font-weight:500;
}

#qna_list_view{border-collapse:collapse;}
		#qna_list_view>thead>tr>th{ background-color:#F8F8F8; height:33px; font-size:16px; text-align:center; border-bottom:1px solid #c1c1c1;border-top:1px solid #c1c1c1;
		font-weight:500;}
		#qna_list_view>tbody>tr{ height:45px; font-size:15px;border-bottom:1px solid #c1c1c1; border-top:1px solid #c1c1c1;}
		#qna_list_view>tbody>tr>td{font-size:15px;border:1px solid #c1c1c1;}
		
		